In [1]:
from requests import Request, Session
import json
import numpy as np
import pandas as pd
import time

In [2]:
url_trade = 'https://cloud.iexapis.com/stable/deep/trades'
parameters_trade = {
    'token': 'sk_b8918e562940417ca9b6615a914b75bd',
    'symbols': 'AAPL',
    'last': 500
}
headers = {
    'Accepts': 'application/json'
}
session = Session()
session.headers.update(headers)

In [13]:
def crawl_trade():
    columns = ['price','size','timestamp']
    trades = pd.DataFrame(columns=columns)
    response = session.get(url_trade, params=parameters_trade)
    data = json.loads(response.text)
    if not 'AAPL' in data:
        return trades
    else:
        data = pd.DataFrame(data.get('AAPL'))
    if not data.empty:
        trades = data[['price','size','timestamp']]
    return trades

In [14]:
trades = crawl_trade()

In [15]:
trades

      price  size      timestamp
0   123.690   100  1614181963789
1   123.680   100  1614181956996
2   123.670   150  1614181956202
3   123.670   300  1614181956109
4   123.710   100  1614181950660
5   123.690    92  1614181948457
6   123.660    40  1614181944592
7   123.655     1  1614181944454
8   123.685     5  1614181943967
9   123.685     2  1614181943835
10  123.705    10  1614181942890
11  123.705    11  1614181942623
12  123.710   100  1614181941606
13  123.710   300  1614181941606
14  123.680     2  1614181937218
15  123.675   100  1614181936568
16  123.680   100  1614181927347
17  123.680    76  1614181927293
18  123.730   103  1614181916722
19  123.730    97  1614181916722