# No particular purpose

In [1]:
import json
import numpy as np
import pandas as pd

In [2]:
asks = pd.read_csv('asks.csv')
bids = pd.read_csv('bids.csv')
trades = pd.read_csv('trades.csv')

In [4]:
diff_size = asks['size'].sum() + bids['size'].sum() -  trades['size'].sum()
print(diff_size)

36346

In [8]:
asks.sort_values('timestamp')

     price   size      timestamp
6   130.00    180  1614004204857
9   143.98  37500  1614004204864
8   136.00    100  1614004210218
7   133.73    200  1614004210450
10  145.00    100  1614004211504
5   129.80    100  1614004986580
1   128.90    100  1614005621038
3   129.30    300  1614005977637
2   129.00    100  1614006389055
0   128.00    100  1614007085948
4   129.50    200  1614008511470
12  127.04    100  1614008653162
11  127.00    100  1614008654196
13  126.97    100  1614008759603
14  126.98    200  1614008800862
15  127.02    100  1614008824664