In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Kraken_BTCUSD_ob_10_2019_09_01.csv')

In [5]:
df['date'] = pd.to_datetime(df['date'], unit='ms')

In [6]:
df.head(5)

                 date type   price  amount
0 2019-10-02 07:06:40    b  9590.0   0.749
1 2019-10-02 07:06:40    b  9588.0   0.172
2 2019-10-02 07:06:40    b  9587.2   0.307
3 2019-10-02 07:06:40    b  9587.1   0.108
4 2019-10-02 07:06:40    b  9587.0   0.040

In [7]:
df.tail(5)

                       date type    price  amount
1048570 2019-10-02 07:06:40    a  10514.4   0.003
1048571 2019-10-02 07:06:40    a  10520.0   1.000
1048572 2019-10-02 07:06:40    a  10521.0   0.040
1048573 2019-10-02 07:06:40    a  10521.3   0.005
1048574 2019-10-02 07:06:40    a  10525.0   0.010