## Crawling Data with API

In [1]:
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

In [2]:
# using sandbox as it's only available for paid subscriptions
url = 'https://sandbox.iexapis.com/stable/stock/AAPL/insider-transactions'

In [13]:
parameters = {
    'token': 'Tsk_83f2c0eee6bb4600b8d8f9936a5769f2'
}
headers = {
    'Accepts': 'application/json'
}

In [4]:
session = Session()
session.headers.update(headers)

In [5]:
try:
    response = session.get(url, params=parameters)
    data = json.loads(response.text)
except (ConnectionError, Timeout, TooManyRedirects) as e:
    print(e)

In [6]:
len(data)

33

In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame(data)

## Preprocessing Data

Drop reportedTitle and fullName <br>
Change effectiveData and updated from UNIX timestamp to datetime

In [9]:
df = df.drop(columns=['reportedTitle', 'fullName'])
df['effectiveDate'] = pd.to_datetime(df['effectiveDate'],unit='ms')
df['updated'] = pd.to_datetime(df['updated'],unit='ms')

In [10]:
df = df.drop(columns=['key'])

### Describe Data

In [11]:
df.head(5)

,conversionOrExercisePrice,directIndirect,effectiveDate,filingDate,is10b51,postShares,symbol,transactionCode,transactionDate,transactionPrice,transactionShares,transactionValue,id,subkey,updated,tranPrice,tranShares,tranValue
0,NaN,D,2021-07-29 04:11:27.252,2019-12-27,False,890075,AAPL,G,2019-12-24,NaN,-7196,NaN,RSNDAITISCAETRNNO_IS,20332-0900200000001-,2021-03-11 05:15:59.760,NaN,-7099,NaN
1,NaN,D,2022-04-26 23:20:43.573,2020-01-22,False,0,AAPL,M,2020-01-21,NaN,1499,NaN,DNTSRCIASSAIRTINOEN_,0-30000102020003-923,2021-12-14 21:19:24.244,NaN,1495,NaN
2,NaN,D,2020-10-23 09:18:36.185,2020-02-18,False,883,AAPL,A,2020-02-22,NaN,887,NaN,SSATRCOID_ISTRNANNEI,02-3000009003500231-,2023-05-25 01:27:35.545,NaN,891,NaN
3,NaN,D,2022-06-17 15:24:57.943,2020-02-23,False,893,AAPL,A,2020-02-19,NaN,870,NaN,TSAIOINNTSRNCE_ISRDA,0201209030-002-30003,2023-04-08 22:40:40.154,NaN,894,NaN
4,NaN,D,2022-03-30 01:18:17.988,2020-02-15,False,876,AAPL,A,2020-02-17,NaN,868,NaN,NSCSART_ARSDENITNOII,92123300-000033-0000,2021-06-09 10:15:34.213,NaN,894,NaN

conversionOrExcercisePrice: the conversion or excercise price of the transaction, if available

### Save to CSV

In [12]:
df.to_csv('iexCloud Sandbox InsiderTransactions Data.csv', index=False)