# Crawling Data

In [12]:
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

In [13]:
# sandbox url
url = 'https://cloud.iexapis.com/stable/deep/book?'

In [14]:
parameters = {
    'symbols': 'aapl',
#     'token': 'Tsk_83f2c0eee6bb4600b8d8f9936a5769f2'
    'token': 'sk_b8918e562940417ca9b6615a914b75bd'
}
headers = {
    'Accept': 'application/json'
}

In [15]:
session = Session()
session.headers.update(headers)

In [16]:
try:
    response = session.get(url, params=parameters)
    data = response.text
except (ConnectionError, Timeout, TooManyRedirects) as e:
    print(e)

In [17]:
data = json.loads(data)

In [19]:
print(data)

{'AAPL': {'bids': [{'price': 120.98, 'size': 100, 'timestamp': 1607706686534}, {'price': 120.38, 'size': 800, 'timestamp': 1607698121646}, {'price': 120, 'size': 400, 'timestamp': 1607700761313}, {'price': 119.8, 'size': 100, 'timestamp': 1607698127672}, {'price': 119, 'size': 200, 'timestamp': 1607697008608}, {'price': 118.31, 'size': 100, 'timestamp': 1607697629369}, {'price': 117, 'size': 100, 'timestamp': 1607697008442}, {'price': 115, 'size': 200, 'timestamp': 1607697016229}, {'price': 114.39, 'size': 80000, 'timestamp': 1607700761302}, {'price': 110.5, 'size': 100, 'timestamp': 1607697008372}, {'price': 110, 'size': 100, 'timestamp': 1607700666654}, {'price': 109, 'size': 100, 'timestamp': 1607697016237}, {'price': 108, 'size': 100, 'timestamp': 1607697008398}, {'price': 107, 'size': 100, 'timestamp': 1607697016217}, {'price': 106, 'size': 100, 'timestamp': 1607697008333}, {'price': 105, 'size': 100, 'timestamp': 1607697016210}, {'price': 101, 'size': 100, 'timestamp': 1607697059589}, {'price': 100.79, 'size': 495, 'timestamp': 1607700761283}, {'price': 100, 'size': 100, 'timestamp': 1607697059532}, {'price': 97, 'size': 100, 'timestamp': 1607697059560}, {'price': 87, 'size': 1000, 'timestamp': 1607700761276}, {'price': 85.46, 'size': 100, 'timestamp': 1607697000955}, {'price': 78, 'size': 100, 'timestamp': 1607697008451}, {'price': 75.31, 'size': 200, 'timestamp': 1607697000955}, {'price': 52.99, 'size': 600, 'timestamp': 1607697000955}, {'price': 51.06, 'size': 100, 'timestamp': 1607697008401}], 'asks': [{'price': 123, 'size': 700, 'timestamp': 1607697016230}, {'price': 123.24, 'size': 300, 'timestamp': 1607697089373}, {'price': 124, 'size': 300, 'timestamp': 1607697015554}, {'price': 125, 'size': 900, 'timestamp': 1607697015467}, {'price': 126, 'size': 1100, 'timestamp': 1607697015434}, {'price': 126.2, 'size': 300, 'timestamp': 1607697015460}, {'price': 126.32, 'size': 100, 'timestamp': 1607700761270}, {'price': 127, 'size': 700, 'timestamp': 1607697015493}, {'price': 127.5, 'size': 200, 'timestamp': 1607697015458}, {'price': 128, 'size': 200, 'timestamp': 1607697016198}, {'price': 128.62, 'size': 200, 'timestamp': 1607697015517}, {'price': 128.8, 'size': 100, 'timestamp': 1607697015510}, {'price': 129, 'size': 700, 'timestamp': 1607697015500}, {'price': 129.2, 'size': 100, 'timestamp': 1607697015459}, {'price': 129.92, 'size': 100, 'timestamp': 1607697015511}, {'price': 130, 'size': 200, 'timestamp': 1607697016239}, {'price': 132, 'size': 200, 'timestamp': 1607697016218}, {'price': 137, 'size': 100, 'timestamp': 1607697008465}, {'price': 140, 'size': 100, 'timestamp': 1607699971862}, {'price': 143, 'size': 100, 'timestamp': 1607697016222}, {'price': 148, 'size': 200, 'timestamp': 1607697008620}]}}

In [20]:
data = data['AAPL']

In [21]:
len(data)

2

In [22]:
bids = data['bids']
asks = data['asks']

In [26]:
import pandas as pd
import numpy as np

In [27]:
bids = pd.DataFrame(bids)

In [28]:
asks = pd.DataFrame(asks)

In [33]:
bids.sort_values('timestamp')

     price   size      timestamp
23   75.31    200  1607697000955
21   85.46    100  1607697000955
24   52.99    600  1607697000955
14  106.00    100  1607697008333
9   110.50    100  1607697008372
12  108.00    100  1607697008398
25   51.06    100  1607697008401
6   117.00    100  1607697008442
22   78.00    100  1607697008451
4   119.00    200  1607697008608
15  105.00    100  1607697016210
13  107.00    100  1607697016217
7   115.00    200  1607697016229
11  109.00    100  1607697016237
18  100.00    100  1607697059532
19   97.00    100  1607697059560
16  101.00    100  1607697059589
5   118.31    100  1607697629369
1   120.38    800  1607698121646
3   119.80    100  1607698127672
10  110.00    100  1607700666654
20   87.00   1000  1607700761276
17  100.79    495  1607700761283
8   114.39  80000  1607700761302
2   120.00    400  1607700761313
0   120.98    100  1607706686534