## Crawling Data with API

In [1]:
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

In [2]:
# using sandbox as it's only available for paid subscriptions
url = 'https://sandbox.iexapis.com/stable/stock/AAPL/insider-transactions'

In [3]:
parameters = {
    'token': 'Tsk_83f2c0eee6bb4600b8d8f9936a5769f2'
}
headers = {
    'Accepts': 'application/json'
}

In [4]:
session = Session()
session.headers.update(headers)

In [5]:
try:
    response = session.get(url, params=parameters)
    data = json.loads(response.text)
except (ConnectionError, Timeout, TooManyRedirects) as e:
    print(e)

In [6]:
len(data)

33

In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame(data)

## Preprocessing Data

Drop reportedTitle and fullName <br>
Change effectiveData and updated from UNIX timestamp to datetime

In [9]:
df = df.drop(columns=['reportedTitle', 'fullName'])
df['effectiveDate'] = pd.to_datetime(df['effectiveDate'],unit='ms')
df['updated'] = pd.to_datetime(df['updated'],unit='ms')

In [10]:
df = df.drop(columns=['key'])

### Describe Data

In [12]:
df.head(5)

,conversionOrExercisePrice,directIndirect,effectiveDate,filingDate,is10b51,postShares,symbol,transactionCode,transactionDate,transactionPrice,transactionShares,transactionValue,id,subkey,updated,tranPrice,tranShares,tranValue
0,NaN,D,2022-04-30 06:03:51.769,2019-12-25,False,862584,AAPL,G,2019-12-24,NaN,-7224,NaN,CSSRDOIIESANTINNAT_R,2200000203-3190-0000,2023-06-25 05:47:48.451,NaN,-6908,NaN
1,NaN,D,2022-01-15 10:48:47.349,2020-01-31,False,0,AAPL,M,2020-01-26,NaN,1446,NaN,E_SRSNATCTIODIINASNR,291-303300200000200-,2023-06-06 14:19:17.744,NaN,1483,NaN
2,NaN,D,2020-06-05 00:19:41.953,2020-02-18,False,864,AAPL,A,2020-02-11,NaN,869,NaN,IIASSTOSICNDRANT_ERN,0213000000030-3290-3,2023-04-30 16:47:13.686,NaN,885,NaN
3,NaN,D,2022-07-08 09:54:32.726,2020-02-19,False,879,AAPL,A,2020-02-22,NaN,858,NaN,SRSCREITSTDAN_NINAIO,2-0300300029-0135000,2023-01-14 16:39:43.926,NaN,869,NaN
4,NaN,D,2021-03-18 15:38:33.740,2020-02-27,False,895,AAPL,A,2020-02-18,NaN,866,NaN,TDAO_SRAINIETNSNRISC,31023-2000000030-092,2022-09-15 11:34:01.434,NaN,863,NaN

conversionOrExcercisePrice: the conversion or excercise price of the transaction, if available

### Save to CSV

In [13]:
df.to_csv('iexCloud_InTran_111220.csv', index=False)